@media (max-width: 1320px){
    .l-wrapper{
        margin-left: 32px;
        margin-right: 32px;
    }
    .p-section-hero__content-hero{
        padding: 100px 60px 16px 60px;
    }
    .p-section-hero__content-title{
        max-width: 100%;
    }
    .p-section-hero__content-description{
        max-width: 100%;
    }
    .p-section-hero__content-link{
        max-width: 80%;
        gap: 100px;
    }
    .p-section-hero__content-link>a{
        flex: 1;
        justify-content: center;
        padding: 16px;
    }
    .p-section-hero__content-image{
        position: static;
        overflow: hidden;
        height: auto;
    }
    .p-section-hero__content-image-person{
        margin: 0 auto;
        height: clamp(250px, 50vw, 400px);
        max-width: 650px;
        width: 100%;
        object-fit: cover;       
        object-position: top;
    }
    .p-section-hero__company-list{
        margin: 0 auto;
        grid-template-columns: repeat(3, 200px);
        place-content: center;
    }
    .p-section-hero__company-item:nth-child(3n+2){
        position: relative;
        top: 0;
    }   
    .p-section-hero__company-content{
        max-width: 100%;
        margin-bottom: 50px;
    }
    .p-section-hero__company-content-description{
        max-width: 100%;
        margin-top: 12px;
    }
    .p-section-fact__list {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
    .l-footer-content{
        display: block;
    }
    .l-footer-logo{
        text-align: center;
    }
    .l-footer-logo__link{
        margin: 0 auto;
    }
    .l-footer-content .l-header-nav__logo{
        margin: 0 auto;
    }
    .l-footer-link{
        margin-top: 32px;
        text-align:center;
    }
}
@media (max-width: 1023px)
{
    .l-header-nav {
        display: flex;
        position: relative;
        align-items: center;
    }
    .l-header-nav__toggle {
        display: block; 
    }
    .l-header-nav__menu {
        display: none;             
        flex-direction: column;    
        position: absolute; 
        gap: 12px;       
        top: 80px;                 
        left: 0;
        width: 100%;               
        background-color: var(--white); 
        padding: 24px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1); 
        border-radius: 8px;
        z-index: 999;              
    }
    .menu-checkbox:checked ~ .l-header-nav__menu {
        display: flex; 
    }
    .l-header-nav__item {
        width: 100%;
        text-align: center;
        padding: 12px 0;
    }
    .l-header-nav__contact {
        width: 100%; 
        font-weight: 400;
        text-transform: none;
        padding: 0;
        background-color: transparent;
        border-radius: 4px;
        color: #556070;
        font-size: 16px;
    }
    .p-section-service__list{
        grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
    }
    .p-section-fact__list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .p-section-call .l-wrapper{
        padding: 64px;
    }
    .p-section-call__content{
        width: 100%;
    }
    .p-section-call__link{
        margin:32px auto;
    }
    .p-section-call__info{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;    
        gap: 16px;
        min-width: 0;
    }
    .p-section-call__info-item:first-child{
        margin-bottom: 0;
    }
    .p-section-call__info-link{
        padding: 24px;
        
    }
    .l-container-mode{
        bottom: 24px;
    }
}

@media (max-width: 768px){
    .l-wrapper{
        margin-left: 16px;
        margin-right: 16px;
    }
    .p-section-hero__content-hero{
        padding:64px 32px 16px 32px;
        text-align: center;
    }   
    .p-section-hero__content-link{
        display: block;
        max-width: 100%;
    }
    .p-section-hero__content-link>a{
        width: 100%;
        margin: 10px auto;
        justify-content: center;
        border: 1px solid white;
    }
    .p-section-hero__company{
        padding: 50px 0;
        gap: 0px;
    }
    .p-section-hero__company-list{
        grid-template-columns: repeat(2,minmax(150px,200px));
        gap: 12px;
        max-width: 100%;
    }
    
    .p-section-study .l-wrapper{
        padding: 50px 0;
    }
    .p-section-service .l-wrapper{
        padding: 50px 0;
    }
    .p-section-client .l-wrapper{
        padding: 50px 0;
        gap: 40px;
    }
    .l-footer-content{
        padding: 50px 0;
    }
    .p-section-study__heading{
        display: block;
        text-align: center;
    }
    .p-section-study__content,.p-section-study__list{
        margin: 0 auto;
    }
    .p-section-study__list{
        max-width: 100%;
        margin-top:10px;
        justify-content: flex-end;
    }
    .p-section-study__item>button
    {
        padding: 12px;
    }
    .p-section-study__slider-item:nth-child(odd){
        flex: 1;
    }
    .p-section-study__slider-item:nth-child(2){
        flex: 10;
    }
    .p-section-study__slider-item:nth-child(odd) .p-section-study__item-content{
        display: none;
    }
    .p-section-service__list{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
    .p-section-fact__list{
        grid-template-columns: repeat(2,minmax(150px,1fr));
        padding:50px 0;
    }
    .p-section-client__content{
        min-width: 320px;
    }
    .p-section-client__testimonial-list{
        margin-top: 16px;
        max-width: 100%;
        margin-right: 10px;
    }
    .p-section-client__play{
        min-height: 0px;
        height: auto;
        overflow: hidden;
        width: 100%;
    }
    .p-section-client__play-img{
        height: auto;
    }
    .p-section-client__play-icon{
        padding: 16px;
    }
    .p-section-call .l-wrapper{
        padding: 32px 16px;
    }
    .p-section-call__button{
        width: 100%;
        justify-content: center;
    }
    .p-section-call__info-item{
        min-width:0;
        width: 90%;
    }
    .l-container-mode{
        right: 16px;
        bottom: 24px;
    }
}