@media (max-width: 1320px){
    .wrapper{
        margin-left: 32px;
        margin-right: 32px;
    }
    .l-header-content_hero{
        padding: 100px 60px 16px 60px;
    }
    .l-header-content_title{
        max-width: 100%;
    }
    .l-header-content_description{
        max-width: 100%;
    }
    .l-header-content_button{
        max-width: 80%;
        gap: 100px;
    }
    .l-header-content_button>a{
        flex: 1;
        justify-content: center;
        padding: 16px;
    }
    
    .l-header-content_img{
        position: static;
        overflow: hidden;
        height: auto;
    }
    .l-header-content_img-person{
        margin: 0 auto;
        max-height: 400px;
        width: 70%;
        object-fit: cover;       
        object-position: top;
    }
    
    .l-header-company_item:nth-child(3n+2){
        position: relative;
        top: 0;
    }   
    .l-header-company_content{
        max-width: 100%;
        margin-bottom: 50px;
    }
    .l-header-company_content-description{
        max-width: 100%;
        margin-top: 12px;
    }
    .l-footer-content{
        display: block;
    }
    .l-footer-logo{
        text-align: center;
    }
    .l-footer-content .l-header-nav_logo{
        margin: 0 auto;
    }
    .l-footer-link{
        margin-top: 32px;
        text-align:center;
    }
}
@media (max-width: 1023px)
{
    .l-header-nav {
        display: flex;
        position: relative;
        align-items: center;
    }
    .l-header-nav_toggle {
        display: block; 
    }
    .l-header-nav_menu {
        display: none;             
        flex-direction: column;    
        position: absolute; 
        gap: 12px;       
        top: 60%;                 
        left: 0;
        width: 100%;               
        background-color: var(--white); 
        padding: 24px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1); 
        border-radius: 8px;
        z-index: 999;              
    }
    .menu-checkbox:checked ~ .l-header-nav_menu {
        display: flex; 
    }
    .l-header-nav_item {
        width: 100%;
        text-align: center;
        padding: 12px 0;
    }
    .l-header-nav_button {
        width: 100%; 
        font-weight: 400;
        text-transform: none;
        padding: 0;
        background-color: transparent;
        border-radius: 4px;
        color: #556070;
        font-size: 16px;
    }
}

@media (max-width: 768px){
    .wrapper{
        margin-left: 16px;
        margin-right: 16px;
    }
    .l-header-content_hero{
        padding:64px 32px 16px 32px;
        text-align: center;
    }   
    .l-header-content_button{
        display: block;
        max-width: 100%;
    }
    .l-header-content_button>a{
        width: 100%;
        margin: 10px auto;
        justify-content: center;
        border: 1px solid white;
    }
    .l-header-company{
        padding: 50px 0;
        gap: 0px;
    }
    .l-header-company_list{
        grid-template-columns: repeat(auto-fit,minmax(170px,1fr));
        gap: 12px;
    }
    .p-section-study .wrapper{
        padding: 50px 0;
    }
    .p-section-service .wrapper{
        padding: 50px 0;
    }
    .p-section-client .wrapper{
        padding: 50px 0;
    }
    .l-footer-content{
        padding: 50px 0;
    }
    .p-section-study_heading{
        display: block;
        text-align: center;
    }
    .p-section-study_content,.p-section-study_list{
        margin: 0 auto;
    }
    .p-section-study_list{
        max-width: 100%;
        margin-top:10px;
        justify-content: space-around;
    }
    .p-section-study_slider-img{
        height: 400px;
    }
    .p-section-study_item-content{
        height: 400px;
        padding: 40% 0;
    }
    .p-section-study_slider-item:nth-child(odd){
        flex: 1;
    }
    .p-section-study_slider-item:nth-child(2){
        flex: 10;
    }
    .p-section-study_slider-item:nth-child(odd):hover .p-section-study_item-content{
        display: none;
    }
    .p-section-service_list{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
    .p-section-fact_list{
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
        padding:50px 0;
    }
    .p-section-client_content{
        min-width: 320px;
    }
    .p-section-client_testimonial{
        display: block;
    }
    .p-section-client_testimonial-list{
        margin-top: 16px;
        max-width: 100%;
        justify-content: space-around;
    }
    .p-section-client_play{
        min-height: 0px;
        height: auto;
        overflow: hidden;
    }
    .p-section-client_play-img{
        height: auto;
    }
    .p-section-client_play-icon{
        padding: 16px;
    }
    .p-section-call .wrapper{
        padding: 32px 16px;
    }
    .p-section-call_button{
        width: 100%;
        justify-content: center;
    }
    .p-section-call_info-item{
        min-width:0;
    }
    .l-container-mode{
        position: fixed;
        right: 16px;
        bottom: 24px;
    }
}